<h3>Artikel</h3>
<hr>

<div class="d-flex align-items-center">
    <p class="flex-1 mb-0">Schreibe deinen eigenen Artikel</p>
    <div>
        @if (auth.username) {
            <a class="btn btn-success" routerLink="new">Artikel hinzufügen</a>
        } @else {
            <div class="button btn btn-sm btn-outline-secondary">Melde Dich an um einen Artikel zu erstellen</div>
        }
    </div>
</div>

<div class="mt-3" *ngFor="let module of modules">
    <hr>
    <a  routerLink="/article/{{ module.slug }}" class="h2 mb-2">{{ module.module }}</a>
    <div class="mb-1">
        <span class="font-italic">{{ (module.rating[0] * 100).toFixed() }}% Positiv ({{ module.rating[1] + module.rating[2] }} Bewertung/en). Von <b>{{ module.author }}</b> am {{ module.updated | date: "dd.MM.YYYY HH:mm" }}</span>
    </div>
    <markdown [data]="module.description"></markdown>
    <div class="d-flex justify-content-between">
        <div>
            <rate-module [module]="module"></rate-module>
       </div>
        <div>
            <a class="btn btn-sm btn-outline-primary"  routerLink="/article/{{ module.slug }}"><i class="fa fa-comment" aria-hidden="true"></i> {{ module.comments }}</a>
        </div>
    </div>
</div>
